absl-py 
aiohttp 
async-timeout==3.0.1
attrs 
blinker==1.4
brotlipy==0.7.0
cachetools 
certifi==2021.5.30
cffi 
chardet 
charset-normalizer==2.0.4
click 
cryptography 
easydict==1.9
google-auth 
google-auth-oauthlib==0.4.5
grpcio==1.39.0
idna==3.2
importlib-metadata 
iniconfig==1.1.1
Markdown 
mkl-fft==1.3.0
mkl-random 
mkl-service==2.4.0
multidict 
numpy 
oauthlib 
olefile==0.46
opencv-python==4.5.3.56
packaging 
Pillow 
pluggy==0.13.1
protobuf==3.17.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
PyJWT 
pyOpenSSL 
pyparsing==2.4.7
PySocks 
pytest==6.2.4
pyu2f 
PyYAML==5.4.1
requests
requests-oauthlib 
rsa 
six 
tensorboard 
tensorboard-data-server==0.6.1
tensorboard-plugin-wit 
toml==0.10.2
torch==1.8.0
torchmetrics 
torchvision==0.9.0
typing-extensions 
urllib3 
Werkzeug
yarl 
zipp 
